<div class="col-md-12" 
	style="
		background: black;
		padding: 0px;
		">

<div class="col-md-12" 
	style="
	background-image: url({{'https:'}}{{view.images}}{{ view.details.poster_path }}) ;
	background-repeat:no-repeat;
	background-attachment:fixed;
	/*background-size: 600px 900px; */
	background-size: 500px 750px;
	padding: 0px;
	/*outline: 1px solid red;*/

	" >
<div class="col-md-12"  style="
	padding: 0px;
	width: : 100%;
	height: 680px;
	background: rgba(0,0,0,0.4);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.64) 15%, rgba(0,0,0,1) 38%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.4)), color-stop(15%, rgba(0,0,0,0.64)), color-stop(38%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.64) 15%, rgba(0,0,0,1) 38%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.64) 15%, rgba(0,0,0,1) 38%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.64) 15%, rgba(0,0,0,1) 38%);
	background: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.64) 15%, rgba(0,0,0,1) 38%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
">

	<div 
		style="
		width: 43%;
		height: 750px;
		color:white;
		padding: 10px;
		padding-top: 300px;
		float: left;
		/*outline: 1px solid red;*/

		">

        <h1>{{ view.details.title | uppercase }} </h1>
        <p>{{view.details.tagline}}</p>
        <br>
        <p>{{view.details.overview}}</p>
        <span ng-if="view.details.homepage"><a href="{{ view.details.homepage }}" target=_new 
        style="color: #FFBF00">{{ view.details.homepage }}</a></span>

        <div>
	        <div class="col-md-6">
	            <div class="detail">
	                Release Date {{ view.details.release_date | date }}
	            </div>
	            <div class="detail">
	                Running Time {{ view.details.runtime }} minutes
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="detail">
	                Budget ${{ view.details.budget | number }} USD
	            </div>
	            <div class="detail">
	                Revenue ${{ view.details.revenue | number }} USD
	            </div>
	        </div>
        </div>

        <br>
        <br>
        <br>

        <p ng-repeat="gen in view.details.genres" style="float: left; padding-right: 10px;">{{gen.name}} </p>
        
        <br>

        <h2>{{ view.details.original_language }}</h2>
    </div>

<!--  ====================DETAIL IZQUIERDA =========================-->	

	<div style="
    	width: 57%; 
    	height: 750px; 
    	float: left; 
    	/*outline: 1px solid blue;*/
    	" >

    	<br>
    	<br>
    	
    	<div align="center">
    		<iframe width="560" height="315" 
    			ng-src="{{trailer }}" frameborder="0">
    		</iframe>
    	</div>	
 		<!-- ========================= ACTORES DE PELICULA  ======================= -->
		<div style="
			position: relative;
			padding: 0px;
			width: 73%;
			left: 14%;
			/*outline: 1px solid red;*/
			">
    		<div  ng-repeat="actor in view.details.credits.cast | limitTo: 5" style="
    		 	width:  18.1%;
    		 	padding-top: 14.1%;
    		 	background-image: url({{'https:'}}{{view.images}}{{actor.profile_path}});
    		 	float: left;
    		 	margin-left: 7px;
    		 	background-size: 100px 150px;
    		 	background-position: 0px -10px;
    		 	background-repeat: no-repeat;
    		 	outline: 1px solid rgba(255, 255,255, 0.1);
    		 	color: white;
    		">
    			<div style="
	    				background-color:rgba(0, 0, 0, 0.5); 
	    				width: 100%; 
	    				height: 20px;
	    				position: relative;

    				">
    				<p  style="
    					
    					
	    				position:absolute; 
	    				bottom:1px;
	    				padding: 0px; 
	    				margin: 0px;
	    				font-size: 100%; 
	    				/*outline: 1px solid green;*/
	    				

	    			">
    					{{actor.name}}
    				</p>
    			</div>	
    			
			</div>
		</div>
	
	</div>
    	
    
</div>

<!-- ========================== PELICULAS SIMILARES ======================-->

<div class="col-md-12" 
	style="
		padding: 0px;
		height: 500px;
		background: #151515;
	">
	<div class="col-md-12" style="
			
			position: absolute;
			top: -20px;
			left: 39.5%;
			width: 23%;
			height: 0px;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom: 20px solid #151515;
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
		">
		<p align="center" style="color: white; font-size: 20px;">{{"Similar Movies"}}</p>	
	</div>
	<div class="form_container"
			style="
				padding-top: 10px;
				width: 100%;
				height: 150px;
				position: relative;
				margin: 0 auto;
				overflow: hidden;
			">
		<div class="slide_container" 
				style="
					white-space: nowrap;
				">    
		    <div >
		       
	            <a href="#/movie/{{ similar.id }}" title="{{ similar.title }}" ng-repeat="similar in view.details.similar.results | limitTo: 20">

	             	<div class="slide" 
	             		style="
	             			
		             		width: 100px; 
				         	height: 150px; 
				         	background-image:  url({{'https:'}}{{view.images}}{{ similar.poster_path }});
				         	background-size: 100px 150px;

					        display: inline-block;
					        margin-right:  4px;
					        vertical-align: top;
					        background-repeat: no-repeat;
					        background-position: 20%;	         	
			         	">
	             		
	                	
	                </div>
	            </a>
		        
		    </div>
	    </div>

	    <button class="bt_left"
	    		style="
	    			position: absolute;
	    			top: 40%;
	    			font: 4em;
	    			border: none;
	    			height: 20%;
	    			left: 0px;
	    		"
	    		ng-click = "movieSlider('left')"> 
	    	< 
	    </button>
	    <button class="bt_right"
	    		style="
	    			position: absolute;
	    			top: 40%;
	    			font: 4em;
	    			border: none;
	    			height: 20%;
	    			right: 0px;

	    		"
	    		ng-click = "movieSlider('right')"> 
	    	> 
	    </button>
	</div>
	

	
</div>
</div>
</div>
